@font-face{
    font-family: 'navidad';
    font-style: normal;
    font-weight: 400;
    src: local("The Perfect Christmas"),
    local("navidad"),
    url(../fonts/navidad.ttf) format('truetype');
}

.bannerCristmas{
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
} 

.bannerHalloween{
	position: absolute;
	overflow: hidden;
	display: none;
}

.snowman{
	z-index: 9;
	position: relative;
	right: 23rem;
	margin: auto;
    padding: 0;
}

.screenSnow{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Santa */

h1{
    font-family: 'navidad';
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 3em;
    position: absolute;
    padding-top: 10px;
    top: 0;
    left: 0;
}

.dark h1{
    position: absolute;
	overflow: hidden;
	display: none;
}

.santa{
	z-index: 999;
    background-image: url(../img/christmas/santa.gif);
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 100px;
    transform: rotateY(180deg);
    position: absolute;
    top: 150px;
    left: -300px;
    animation: santa 10s infinite ease-in-out;
}

.dark .santa{
	position: absolute;
	overflow: hidden;
	display: none;
}

@keyframes santa{
    0%{
        transform: translate(-300px,20px) rotateY(180deg) scale(1)
    }
    10%{
        transform: translate(400px,100px) rotateY(180deg) scale(1.2)
    }
    20%{
        transform: translate(800px,20px) rotateY(180deg) scale(.7)
    }
    30%{
        transform: translate(1200px,100px) rotateY(180deg) scale(1.2)
    }
    40%{
        transform: translate(1600px,20px) rotateY(180deg) scale(1.7)
    }
    50%{
        transform: translate(2000px,100px) rotateY(180deg) scale(1.2)
    }
    60%{
        transform: translate(1500px,20px)  scale(1.2)
    }
    70%{
        transform: translate(1000px,100px)  scale(1.2)
    }
    80%{
        transform: translate(500px,20px)  scale(1.2)
    }
    90%{
        transform: translate(200px,100px)  scale(1.2)
    }
    100%{
        transform: translate(-300px,20px)  scale(1.2)
    }
}